<!doctype html>
<html style ="height:100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        .register-bg {
            background: url('/imagez/honda-nsx.jpg') no-repeat center center fixed;
            background-size: cover;
        }
        .login-bg {
            background: url('/imagez/nissan-skyline.jpg') no-repeat center center fixed;
            background-size: cover;
        }

        .members-bg {
            background: url('/imagez/bmw-m3.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100 @(ViewData["BodyClass"])">
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1 class="text-capitalize">About cars.</h1>
        <p>Members cars!</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-nav">
                @if(User.IsInRole("Administrator")) {
                    <a asp-controller="Account" asp-action="Admin" class="nav-link">Admins</a>
                }
                <a asp-controller="Account" asp-action="Members" class="nav-link">Members</a>
                @if(User.Identity!.IsAuthenticated) {
                    <a asp-controller="Account" asp-action="LogOut" class="nav-link">Logout</a>
                    <a asp-controller="Car" asp-action="AllDetails" class="nav-link">Show cars</a>
                }
                else {
                    <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                    <a asp-controller="Account" asp-action="LogIn" class="nav-link">Login</a>
                }
            </div>
        </div>
    </nav>
    <br />
    <div>
        @RenderBody()
    </div>
    <footer class="container-fluid bg-primary mt-5 p-5 text-center text-white footer mt-auto py-3" role="contentinfo">
        <span class="text-capitalize">Vroom vroom.</span>
        <br />
        <span>Copyright &copy; 2025 Clive, David, Peter & Zhelyazko, Sweden</span>

    </footer>

    @RenderSection("Scripts", false)
</body>
</html>