<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body style="padding: 1rem;">
    <nav>
        @if (User.IsInRole("Administrator"))
        {
            <a asp-controller="Account" asp-action="Admin">Admins</a>
        } 
        <a asp-controller="Account" asp-action="Members">Members</a>
        @if (User.Identity!.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="LogOut">Logout</a>
            <a asp-controller="Car" asp-action="AllDetails">Show cars</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="LogIn">Login</a>
        }
    </nav>
    <br />
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
