@model int

<!DOCTYPE html>
<html>
<head>
    <title>HTTP Error</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <div style="margin:50px;">
        <h2>HTTP Error: @Model</h2>
    </div>
</body>
</html>