﻿
<!DOCTYPE html>
<html>
<head>
    <title>Server Error</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <div style="margin:50px;">
        <h2>Server Error</h2>
        <img src="~/Images/OMG.gif" />
    </div>
</body>
</html>