@model AdminVM
@{
    ViewBag.Title = "Admin";
}

<div class="container mt-4">
    <h3 class="text-primary">Admin</h3>

    @if (User.Identity!.IsAuthenticated)
    {
        <p>
            Welcome <strong>@User.Identity.Name</strong>!<br/>
        </p>
        <p>@Model.FirstName @Model.LastName</p>
    }
    else
    {
        <p>Du är inte inloggad...</p>
    }
</div>