@using IdentityDemo.Web.Views.Account
@model LoginVM
@{
    ViewData["Title"] = "Login";
    ViewData["BodyClass"] = "login-bg";
}

<div class="container">
    <h3>Log In</h3>
    <div class="form-signin mb-3 mt-3">
        <form asp-controller="Account" asp-action="Login"
              class="mx-auto"
              style="max-width: 500px; background-color: rgba(255, 255, 255, 0.8); padding: 1.5rem; border-radius: 0.5rem;">

            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <input class="btn btn-primary" type="submit" value="Log In" />

            <div asp-validation-summary="All" class="text-danger mt-3"></div>
        </form>

        <div asp-validation-summary="All" class="text-danger validation-message-space"></div>
    </div>
</div>
@section Scripts {

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
            asp-fallback-src="/scripts/lib/jquery/jquery.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="/scripts/lib/jquery-validate/jquery.validate.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="/scripts/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}