@model MembersVM
@{
    ViewBag.Title = "Members";
    ViewData["BodyClass"] = "members-bg";
}


<div class="container mt-4">
    <h3 class="text-primary">Members</h3>

    @if (User.Identity!.IsAuthenticated)
    {
        <p>
            Welcome <strong>@User.Identity.Name</strong>!<br />
        </p>
        <p>@Model.FirstName @Model.LastName</p>
    }
    else
    {
        <p>Du är inte inloggad...</p>
    }
</div>