@model AllDetailsVM

@{
    ViewBag.Title = "All Cars";
}

<div>
    <ul>
    @foreach (var car in Model.CarVMs)
    {
        <li>@car.Make </li>
        <li>@car.Model</li>
            <li>@car.Year<br /></li>
        
    }
    </ul>
</div>