@model AllDetailsVM

@{
    ViewBag.Title = "All Cars";
}

<div>
    <ul>
    @foreach (var car in Model.CarVMs)
    {
        <a asp-controller="Car" asp-action="Details" asp-route-id="@car.Id">
            <li>
                @car.Make<br/>
                @car.Model<br/>
                @car.Year<br/>
            </li>
        </a>
    }
    </ul>
</div>