@model CreateVM

@{
    ViewBag.Title = "Create car";
}

<div class="container">
    <div class="mb-3">
        <h3>Create new Car</h3>

        <form asp-controller="Car" asp-action="Create">
            <div class="mb-3">
                <label class="form-label" asp-for="Make"></label>
                <input class="form-control" asp-for="Make" />
                <span class="text-danger" asp-validation-for="Make"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="Model"></label>
                <input class="form-control" asp-for="Model" />
                <span class="text-danger" asp-validation-for="Model"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="Year"></label>
                <select class="form-control" asp-for="Year" asp-items="@(new SelectList(Model.YearOptions))"></select>
                <span class="text-danger" asp-validation-for="Year"></span>
            </div>
            
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>

            <div class="mb-3">
                <div class="text-danger" asp-validation-summary="All"></div>
            </div>

        </form>
    </div>
</div>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
            asp-fallback-src="~/scripts/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="~/scripts/jquery-validate/jquery.validate.min.js"
            asp-fallback-test="$.validator">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="$.validator.unobtrusive">
    </script>
}