@model DetailsVM

@{
    ViewBag.Title = "Car Details";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2><strong>Make:</strong> @Model.Make</h2>
            <h3><strong>Model:</strong> @Model.Model</h3>
            <h3><strong>Year:</strong> @Model.Year</h3>
        </div>
    </div>
</div>